@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-sans);
  --font-family-serif: var(--font-serif);
}

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));
